.modal.fade{:id => "feedback", :style => "display: none;"}
  .modal-dialog
    .modal-content
      = simple_form_for :story, :html => {:class => 'form-horizontal' }, :url => url_for(:action => 'feedback', :controller => 'stories') do |f|
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h3.modal-title feed back
        .modal-body
          .radio
            %label
              = f.input :report_reason, label: false, :input_html => {type: "radio", value: "故事非屬實"}
              故事非屬實
          .radio
            %label
              = f.input :report_reason, label: false, :input_html => {type: "radio", value: "內容有誤"}
              內容有誤
          .radio
            %label
              = f.input :report_reason, label: false, :input_html => {type: "radio", value: "內容與本網站無關"}
              內容與本網站無關
          .form-group
            = f.input :report_text, label: "其他或建議", :input_html => {class: "form-control", :rows => "8", :col => "30"}, as: :text, class: "form-control input-lg", type: "text"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "confirm", class: "btn btn-primary"