-#.row
- if cookies[:site] == nil
  - cookies.permanent[:site] = {value: "bigheart"}
  = render 'stories/slogan'
.btn-group
  %button.select_city.btn.btn-default{type: "button"} 選擇查看地區
  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
    %span.caret
    %span.sr-only
  %ul#filters_city.dropdown-menu{role: "menu"}
    %li
      %a{href: "#", "data-filter" => "*"} 查看全部
    - Story::CITIES.each do |city, city_class|
      %li
        %a{href: "#", "data-filter" => "#{city_class}"} #{city}
#stories
  - @stories.each do |s|
    .story{class: s.city}
      = image_tag s.image_url(:thumb).to_s
      %h3
        %strong.story_title [#{s.city}] #{s.story_name}
      %strong.story_highlight #{s.appear_location}
      %p
        %strong.story_highlight
          時段:
          - s.appear_day.select{|d| d.present?}.each do |d|
            = "#{d}"
          %p
            - if s.appear_time_from.present? || s.appear_time_to.present?
              = "#{s.appear_time_from} - #{s.appear_time_to}"
      %p.index.story_details #{truncate(word_wrap(s.story_details, line_width: 10), length: 50)}
      %a.btn.btn-primary{href: "/stories/#{s.id}", role: "button"} 繼續閱讀 »
      -#.fb-like{"data-action" => "like", "data-href" => "0.0.0.0:3000/stories/#{s.id}", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true"}