-#.row
- if cookies[:site] == nil
  - cookies.permanent[:site] = {value: "bigheart"}
  = render 'stories/slogan'
- else
  - Rails.cache.clear
.btn.btn-info{style: "margin-bottom: 20px; margin-left: 4px;","data-toggle" => "modal", :href => "#toggle_map"} 看看五公里內有誰需要幫助
= render 'layouts/index_map'
#stories
  - @stories.each do |s|
    .story{class: s.city}
      - if s.image.file.nil?
      -else
        = image_tag s.image_url(:thumb).to_s
      %h3
        %strong.story_title [#{s.city}] #{s.story_name}
      %strong.location
        = '地點: '
        - JSON.parse(s.appear_location).keys.each do |t|
          = "#{t}"
      %p
        %strong.appear_time
          時段:
          - s.appear_day.select{|d| d.present?}.each do |d|
            = "#{d}"
          %p
            - if s.appear_time_from.present? || s.appear_time_to.present?
              = "#{s.appear_time_from} - #{s.appear_time_to}"
      %p.index.story_details #{simple_format(truncate(s.story_details), length: 50, style:"font-size: 1.3em")}
      %a.btn.btn-primary{href: "/stories/#{s.id}", role: "button"} 繼續閱讀 »