.row
  .col-md-6
    .fb-like{"data-action" => "like", "data-href" => "http://bigheart.tw/stories/#{@story.id}", "data-layout" => "button", "data-share" => "true", "data-show-faces" => "false"}
  .col-md-6
    %p.pull-right
      %a.fa.fa-exclamation-triangle.btn.btn-warning.btn-lg{"data-toggle" => "modal", :href => "#report"} 回報故事資訊錯誤
      = render 'stories/report'
%h1
  %strong.story_title
    = @story.story_name + '的故事'
%p
  %strong.location
    = '地點: '
    = "#{@story.city}"
    - JSON.parse(@story.appear_location).keys.each do |l|
      = "#{l}"
.row
  .col-md-6
    %p
      %strong.appear_time
        = '時段: '
        - @story.appear_day.select{|d| d.present?}.each do |day|
          = "#{day}"
        - if @story.appear_time_from.present? || @story.appear_time_to.present?
          = ", #{@story.appear_time_from} - #{@story.appear_time_to}"
    %p.info_from
      = '資訊來源: ' "#{@story.info_from}"
    %p
      .story_details
        = simple_format(@story.story_details)
  .col-md-6.pull-left
    %p
      - if @story.image.file.nil?
      - else
        = image_tag @story.image_url(:show).to_s
-#- JSON.parse(@story.appear_location).each do |l, c|
.panel.panel-info{style: "margin-top: 15px;"}
  .panel-heading 地圖資訊
  .panel-body
    #show_map{style: "height: 300px; width: 1108px; position: relative;", "data-latitude" => "#{@latitude}", "data-longitude" => "#{@longitude}"}
:javascript
  var coordinate = $('#show_map'),
      latitude = coordinate.data('latitude'),
      longitude = coordinate.data('longitude'),
      action = coordinate.data('action');
  var map = new GMaps({
          el: '#show_map',
          lat: latitude[0],
          lng: longitude[0],
          zoom: 14

      });
  for (i = 0; i < latitude.length; i++){
          map.addMarker({
              lat: latitude[i],
              lng: longitude[i]
          });
      }
  map.setCenter(latitude[0], longitude[0]);
  map.fitZoom(latitude[0], longitude[0]);
  map.addMarker({
      lat: latitude[0],
      lng: longitude[0]
  });
