%h1
  = @story.story_name + '的故事'
%p
  = image_tag @story.image_url(:show).to_s
%p
  = '地點: ' "#{@story.city} #{@story.appear_location}"
%p
  = '時段: ' "#{@story.appear_day} #{@story.appear_time_from} - #{@story.appear_time_to}"
%p
  .story_details
    = simple_format(@story.story_details)
    = '資訊來源: ' "#{@story.info_from}"