#show_story
  %h1
    %strong.story_title
      = @story.story_name + '的故事'
  %p
    = image_tag @story.image_url(:show).to_s
  %p
    %strong.story_highlight
      = '地點: ' "#{@story.city} #{@story.appear_location}"
  %p
    %strong.story_highlight
      = '時段: ' "#{@story.appear_day} #{@story.appear_time_from} - #{@story.appear_time_to}"
  %p.info_from
    = '資訊來源: ' "#{@story.info_from}"
  %p
    .story_details
      = simple_format(@story.story_details)
  %p
    %a.fa.fa-exclamation-triangle.btn.btn-warning.btn-lg{"data-toggle" => "modal", :href => "#report"} 回報故事資訊有誤
    = render 'stories/report'
