%h1
  = @story.story_name
%p
  = '地點: ' + @story.appear_location
%p
  = '時間: '"#{@story.appear_day} #{@story.appear_time_from} - #{@story.appear_time_to}"
%p
  = @story.story_name + '的故事'
%p
  = @story.story_details
%p
  - if @story.user_id == current_user.id
    = link_to (button_tag '編輯文章', class: "btn btn-primary"), "#{edit_story_path}"
    = link_to (button_tag '刪除文章', class: "btn btn-primary"), "#{story_path(@story.id)}", confirm: '確定刪除?', method: :delete