-if @story.nil?
  -if @type == "提供建議"
    %p 一位使用者提供了以下建議:
    %p #{@msg}
  - else
    %p 一位使用者回報了以下錯誤:
    %p #{@msg}
-else
  -if @msg.present? && @type.present?
    %p 一位使用者因#{@type}回報了#{@story}的故事內容
    %p 該使用者也提供了以下建議:
    %p #{@msg}
  -elsif @msg.present? && @type.nil?
    %p 一位使用者因以下原因回報了#{@story}的故事內容
    %p #{@msg}
  -else
    %p 一位使用者因#{@type}回報了#{@story}的故事內容