= link_to "Bigheart", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to '登出', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to '登入', new_user_session_path
  - if user_signed_in?
    %li
      = link_to '編輯帳號', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      = link_to '註冊', new_user_registration_path
  %li
    = link_to '發表文章', new_story_path