.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if user_signed_in?
        %a.navbar-brand{href: stories_path}
          Bigheart
          %i.fa.fa-heart
      -else
        %a.navbar-brand{href: stories_path}
          Bigheart
          %i.fa.fa-heart
    .navbar-collapse.collapse
      .nav.navbar-nav
        %li
          -#= link_to '閱讀所有故事', stories_path, {'data-no-turbolink' => true}
          = link_to '閱讀所有故事', stories_path
        %li
          = link_to '提供故事及資訊', new_story_path
        - if user_signed_in?
          -#%li
          -#  = link_to '我所發表的故事', stories_user_path(current_user.id)
          - if current_user.has_role? :admin
            %li
              = link_to '管理使用者', users_path
            %li
              = link_to '管理文章', manage_stories_path
            %li
              = link_to '登出', destroy_user_session_path, :method=>'delete'
        -else
          %li
            %a{"data-toggle" => "modal", :href => "#feedback"} 聯絡管理員
      .navbar-form.navbar-right
        .form-group
          #filters_city
            %select#cities.form-control
              %option{value: "*"} 查看全部
              - Story::CITIES.each do |city, city_class|
                %option{value: "#{city_class}"} #{city}
      -#.nav.navbar-nav.navbar-right
      -#  - if user_signed_in?
      -#    %li
      -#      - if current_user.uid.blank?
      -#        = link_to "#{current_user.name}", edit_user_registration_path
      -#      - else
      -#        = link_to "#{current_user.name}"
      -#    %li
      -#      = link_to '登出', destroy_user_session_path, :method=>'delete'
      -#  - else
      -#    = simple_form_for :user, url: new_user_session_path, :html => { :class => "navbar-form form-inline", :role => "form"} do |f|
      -#      .form-group
      -#        = f.input_field :email, :autofocus => true, class: "form-control", type: "email", placeholder: "email"
      -#      .form-group
      -#        = f.input_field :password, class: "form-control", type: "password", placeholder: "password"
      -#      = f.button :submit, '登入', class: "btn btn-primary btn-sm"
      -#      = link_to "Facebook登入", user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-sm"
    / /.navbar-collapse